<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>682669041684-o2gs1dlkg3fi75doghb47kemqp5lekem.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.682669041684-o2gs1dlkg3fi75doghb47kemqp5lekem</string>
	<key>API_KEY</key>
	<string>AIzaSyAC8R4IUKjruCzGlb8Me_H9cCdFDnty4AU</string>
	<key>GCM_SENDER_ID</key>
	<string>682669041684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.girlsHouseApp</string>
	<key>PROJECT_ID</key>
	<string>girlshouseapp</string>
	<key>STORAGE_BUCKET</key>
	<string>girlshouseapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682669041684:ios:f7d60e98467b8439dadf01</string>
</dict>
</plist>